GridPane{
  -fx-padding: 10px;
  -fx-hgap: 5px;
  -fx-vgap: 5px;
}

Pane#frame {
  -fx-background-color: black;
  -fx-min-width: 600px;
  -fx-pref-width: 600px;
  -fx-min-height: 600px;
  -fx-pref-height: 600px;
}

button{
  -fx-pref-width: 100px;
  -fx-font-weight: bold;
}

Slider{
  -fx-pref-width: 120 px;
}

Label{
  -fx-font-weight: bold;
}